<% layout('/layouts/boilerplate') -%>

<body>
  <div class="row">
    <div class="col-8 offset-2">
      <h3>Edit Listing:-</h3>
      <form action="/listings/<%= data._id %>?_method=PUT" method="post">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            name="listing[title]"
            value="<%= data.title %>"
            class="form-control"
            id="title"
          />
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea
            name="listing[description]"
            class="form-control"
            id="description"
          >
<%= data.description %></textarea
          >
        </div>

        <div class="mb-3">
          <label for="image" class="form-label">Image Url</label>
          <input
            type="text"
            name="listing[image]"
            value="<%= data.image %>"
            class="form-control"
            id="image"
          />
        </div>

        <div class="mb-3">
          <label for="price" class="form-label">Price</label>
          <input
            type="number"
            name="listing[price]"
            value="<%= data.price %>"
            class="form-control"
            id="price"
          />
        </div>

        <div>
          <label for="location" class="form-label">Location</label>
          <input
            type="text"
            name="listing[location]"
            value="<%= data.location %>"
            class="form-control"
            id="location"
          />
        </div>

        <div>
          <label for="country" class="form-label">Country</label>
          <input
            type="text"
            name="listing[country]"
            value="<%= data.country %>"
            class="form-control"
            id="country"
          />
        </div>

        <br /><br />

        <button class="bg-danger">Add Listing</button>
      </form>
      <br />
    </div>
  </div>
</body>
