<% layout('/layouts/boilerplate') -%>

<body>
  <div class="row">
    <div class="col-8 offset-2">
      <h2><%= data.title %></h2>

      <div class="card">
        <img
          src="<%= data.image %>"
          class="card-img-top"
          style="height: 60vh"
          alt="..."
        />
        <div class="card-body">
          <!-- <h5 class="card-title"></h5> -->
          <p class="card-text">
            <%= data.description %>
            <br />
            Rs : <%= data.price %> pkr
            <br />
            <%= data.location %>
          </p>
          <a
            href="http://localhost:3000/listings/<%= data._id %>/edit"
            class="btn btn-primary"
            >Edit This</a
          >
        </div>
      </div>

      <form action="/listings/<%= data._id %>?_method=DELETE" method="post">
        <button class="bg-danger">Delete This Listing</button>
      </form>
      <br />
      <hr />
    </div>
    <div class="col-8 offset-2">
      <h4>Leave A Review</h4>
      <form method="post" action="/listings/<%= data._id %>/reviews">
        <div class="mb-3">
          <label for="rating" class="form-label">Rating</label>
          <input
            type="range"
            min="1"
            max="5"
            name="review[rating]"
            class="form-range"
          />
        </div>
        <div class="mb-3">
          <label for="comment" class="form-label">Review</label>
          <textarea
            name="review[comment]"
            id=""
            cols="30"
            rows="5"
            class="form-control"
          ></textarea>
        </div>
        <button class="btn btn-outline-dark">Submit</button>
      </form>
      <br />
    </div>
    <hr />
    <h4><b>All Reviews</b></h4>
    
      <% for( review of data.reviews ) { %>

      <div class="card col-5 offset-2 ms-3 mb-3 border">
        <div class="card-body">
          <h4 class="card-title">Mohsin</h4>
          <p class="card-text"><%= review.comment %></p>
          <p class="card-text"><%= review.rating %> stars</p>
        </div>
        <form method="post" action="/listings/<%= data._id %>/reviews/<%= review._id %>?_method=DELETE">
          <button class="btn btn-sm btn-dark mb-3">Delete</button>
        </form>
      </div>

      <% } %>
    
  </div>
</body>
